arc/
logs/
pdf/
side
.venv

# Ignore general files
*.bcf
*.xml

# Ignore LaTeX build artifacts
build/
*.aux
*.log
*.out
*.toc
*.synctex.gz

qr

*.tex

# Ignore Python cache
__pycache__/
*.pyc