name: Build LaTeX PDFs and Deploy them to GitHub Pages

on:
  push:
    branches: [ main ]
    paths:
      - 'tex/**'
      - 'res/**'
      - 'texmf/**'
      - 'Makefile'
      - '.github/workflows/build-resumes.yml'
  workflow_dispatch:

jobs:
  build-and-deploy-resumes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Check image path
        run: ls -R

      - name: Install LaTeX
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          texlive-luatex \
          texlive-latex-recommended \
          texlive-latex-extra \
          texlive-fonts-recommended \
          texlive-bibtex-extra \
          latexmk

      - name: Build PDFs
        run: make pdfs

      - name: Copy PDFs to deploy folder
        run: |
          mkdir deploy
          cp pdf/*.pdf deploy/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
          publish_branch: gh-pages
          commit_message: "Deploy latest resume PDFs"
